@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" href="/css/lista2.css" />
</head>
<body>
    <h1>Lista de Clientes</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Endereço</th>
            <th>Contato</th>
            <th>Editar / Excluir</th>
        </tr>
        @foreach (var cliente in Model.Clientes)
        {
            <tr>
                <td>@cliente.nomeCliente</td>
                <td>@cliente.idade</td>
                <td>@cliente.endereco</td>
                <td>@cliente.contato</td>
                <td class="delete">
                    <a asp-page="./Edit" asp-route-id="@cliente.idcliente">✏</a> |
                    <a asp-page="./Delete" asp-route-id="@cliente.idcliente">🗑</a>
                </td>
            </tr>
        }
    </table>
</body>
</html>
