@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <h1>Lista de Clientes</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Endereço</th>
            <th>Contato</th>
        </tr>
        @foreach (var cliente in Model.Clientes)
        {
            <tr>
                <td>@cliente.nomeCliente</td>
                <td>@cliente.idade</td>
                <td>@cliente.endereco</td>
                <td>@cliente.contato</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@cliente.idcliente">Editar</a> |
                    <a asp-page="./Delete" asp-route-id="@cliente.idcliente">Remover</a>
                </td>
            </tr>
        }
    </table>
</body>
</html>
