@page
@model BibliotecaApp.Pages.ListaLivroModels
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Livros</title>
    <link rel="stylesheet" href="/css/lista.css" />
</head>
<body>
    <h1>Lista de Livros</h1>

    <table>
        <tr>
            <th>Nome do Livro</th>
            <th>Autor</th>
            <th>Ano</th>
            <th>Sinopse</th>
            <th>Editar / Excluir</th>
        </tr>
        @foreach (var livro in Model.Livros)
        {
            <tr>
                <td>@livro.nomeLivro</td>
                <td>@livro.autor</td>
                <td>@livro.ano</td>
                <td>@livro.sinopse</td>
                <td class="edicao">
                    <a asp-page="./EditarL" asp-route-id="@livro.id">✏</a> |
                    <a asp-page="./DeleteL" asp-route-id="@livro.id">🗑</a>
                </td>
            </tr>
        }
    </table>
</body>
</html>

